#version: '3.7'

services:

  rosagv:
    image: yazelin/agv:latest
    container_name: rosagv
    init: true  # 使用 Docker 的 init 進程，自動回收殭屍進程
    privileged: true # 給予容器完整的裝置存取權限
    devices:
      - "/dev/input:/dev/input" # 掛載 /dev/input 讓容器內可以讀取
    network_mode: "host" # 使用主機網路
    restart: unless-stopped # 自動重啟策略
    environment:
      CONTAINER_TYPE: "agv"
      ZENOH_ROUTER_CONFIG_URI: "/app/routerconfig.json5"
      RMW_IMPLEMENTATION: "rmw_zenoh_cpp"
      SDL_AUDIODRIVER: dummy # 避免 pygame 的 ALSA 錯誤
    volumes:
      - ~/RosAGV/app:/app
    tty: true # 允許互動式終端
    stdin_open: true # 保持 STDIN 開啟
