{% extends "base.html" %}
{% block title %}opui - 設定{% endblock %}
{% block content %}

<style>
    .button,
    .label,
    .input {
        font-size: 1.25rem;
        white-space: nowrap;
    }
</style>

<section class="section">
    <div class="container">
        <h2 class="title is-4">設定頁面</h2>

        <div class="box">
            <h4 class="title is-5 has-text-centered">機台編號</h4>
            <div class="columns is-multiline is-mobile">
                {% for i in range(1, 5) %}
                <div class="column is-one-forth">
                    <button class="button is-fullwidth machine-btn" data-machine="{{ i }}" disabled>{{ i }}</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="box">
            <div class="columns">
                <!-- OP1 -->
                <div class="column">
                    <h4 class="subtitle is-5 has-text-centered">OP 1</h4>
                    <div class="is-flex is-flex-direction-column is-gapless product-group" data-side="left">
                        <div class="is-flex is-align-items-center mb-2 product-entry" data-index="0">
                            <div class="control has-icons-left has-icons-right m-1">
                                <input class="input is-medium product-input" type="text" placeholder="產品名稱" />
                                <span class="icon is-left">
                                    <i class="mdi mdi-tag"></i>
                                </span>
                                <span class="icon is-right product-checked">
                                    <i class="mdi mdi-check-bold"></i>
                                </span>
                            </div>
                        </div>
                        <div class="is-flex is-align-items-center mb-2 product-entry" data-index="1">
                            <div class="control has-icons-left has-icons-right m-1">
                                <input class="input is-medium product-input" type="text" placeholder="產品名稱" />
                                <span class="icon is-left">
                                    <i class="mdi mdi-tag"></i>
                                </span>
                                <span class="icon is-right product-checked">
                                    <i class="mdi mdi-check-bold"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="is-divider-vertical" style="width:2px;background:#eee;margin:0 0.5rem;"></div>

                <!-- OP2 -->
                <div class="column">
                    <h4 class="subtitle is-5 has-text-centered">OP 2</h4>
                    <div class="is-flex is-flex-direction-column is-gapless product-group" data-side="right">
                        <div class="is-flex is-align-items-center mb-2 product-entry" data-index="0">
                            <div class="control has-icons-left has-icons-right m-1">
                                <input class="input is-medium product-input" type="text" placeholder="產品名稱" />
                                <span class="icon is-left">
                                    <i class="mdi mdi-tag"></i>
                                </span>
                                <span class="icon is-right product-checked">
                                    <i class="mdi mdi-check-bold"></i>
                                </span>
                            </div>
                        </div>
                        <div class="is-flex is-align-items-center mb-2 product-entry" data-index="1">
                            <div class="control has-icons-left has-icons-right m-1">
                                <input class="input is-medium product-input" type="text" placeholder="產品名稱" />
                                <span class="icon is-left">
                                    <i class="mdi mdi-tag"></i>
                                </span>
                                <span class="icon is-right product-checked">
                                    <i class="mdi mdi-check-bold"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns mt-4 is-vcentered">
            <div class="column is-one-quarter has-text-left">
                <button class="button is-danger" id="factory-restore">恢復原廠</button>
            </div>
            <div class="column is-half has-text-centered">
                <!--<button class="button is-warning" id="save">儲存設定</button>-->
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-4">料架資訊</h2>

        <div class="box">
            <div class="columns">
                <!-- OP1 -->
                <div class="column">
                    <h4 class="subtitle has-text-centered">OP 1</h4>

                    <div class="is-flex is-align-items-center mb-4">
                        <input type="number" class="input m-2 rack-add" data-side="left" placeholder="手動新增 輸入料架編號"
                            inputmode="numeric" pattern="[0-9]*">
                        <button class="button is-selected m-2 rack-add-btn" data-side="left">
                            <span class="mdi mdi-tag-plus-outline"></span>
                        </button>
                    </div>

                    <h4 class="subtitle has-text-centered">目前停靠：</h4>
                    <div class="field is-grouped is-grouped-multiline parking-area" data-side="left">
                        <!-- JS 動態產生 -->
                    </div>
                </div>

                <div class="is-divider-vertical" style="width:2px;background:#eee;margin:0 0.5rem;"></div>

                <!-- OP2 -->
                <div class="column">
                    <h4 class="subtitle has-text-centered">OP 2</h4>

                    <div class="is-flex is-align-items-center mb-4">
                        <input type="text" class="input m-2 rack-add" data-side="right" placeholder="手動新增 輸入料架編號">
                        <button class="button is-selected m-2 rack-add-btn" data-side="right">
                            <span class="mdi mdi-tag-plus-outline"></span>
                        </button>
                    </div>

                    <h4 class="subtitle has-text-centered">目前停靠：</h4>
                    <div class="field is-grouped is-grouped-multiline parking-area" data-side="right">
                        <!-- JS 動態產生 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}