.button {
    --bulma-button-border-width: 0px !important;
    --bulma-button-outer-shadow-a: 0.05 !important;
    /* 強制移除預設 按鈕框線,強制保持預設陰影 */
}

.is-selected {
    background-color: rgba(140, 240, 140, 0.8);
    /*    
    background-color: rgba(247, 183, 69, 0.8);
*/
}

.hidden {
    display: none !important;
}

/* 修正 navbar 用戶下拉選單的對齊問題 */
#user-dropdown .navbar-link {
    min-height: 3.25rem;
    /* Bulma navbar 預設高度 */
}